# Ignore .env file
.env
__pycache__/
newenv
backupgoal.py
backupgoal2.py
backupresearch.py
goals.py
goals3.py
research_assistant_dashboard2.py
tempCodeRunnerFile.py
all_chat_histories.json
all_chat_histories2.json
analytics.ipynb
chat_history.csv
harshal.py