streamlit
pymongo
PyPDF2
python-docx
openai
google-generativeai
llama-index
werkzeug
numpy
pandas
plotly
scikit-learn
networkx
community
umap-learn
seaborn
matplotlib
scipy
Pillow
python-dotenv
zoomus
asyncio
google-auth-oauthlib
google-auth
transformers
textstat
spacy
streamlit_option_menu
beautifulsoup4
youtube-transcript-api
requests